{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}



<script>
{% block jquery %}




$("form").uploadprogress({
    redirect_url: "/"
  });





{% endblock jquery %}
</script>





	




{% block content %}

<div class="row">


  	<div class="col-xs-12 col-sm-9 col-md-9">


  		<div class="panel panel-default">
		  
			<div class="panel-body">
		
				<div class="getfeedback-content">


					<div class="new-project" id='preview-title'>

						My Project

					</div>




		  			<form role="form" method='POST' action'' id='get_matched_form' enctype="multipart/form-data">{% csrf_token %}

		  			<!-- {{ form|crispy }}
					<br/> -->


						{% if form.errors %}
    		
    						{% for field in form %}
        	
        						{% for error in field.errors %}
            
           							<div class="form-error"><strong>{{ error|escape }}</strong></div>

        						{% endfor %}

    						{% endfor %}


    						{% for error in form.non_field_errors %}

        						<div><strong>{{ error|escape }}</strong></div>
    						
    						{% endfor %}

						{% endif %}



						<label><i class="fa fa-user" aria-hidden="true"></i> Find Matches </label>
						{{ form.queued}}
						</br>
						</br>
						

						<label><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Only Match Locally </label>
						{{ form.match_nearby }}
						</br>
						</br>
						</br>


						<label>Select Your MP3 Audio File (15MB Max)</label>
						{{ form.audio_file }}
						</br>

						<label>Title</label>
						{{ form.title }}
						</br>
						</br>

						<label>Describe Your Project</label>
						{{ form.short_description }}
						</br>

						<label>Genre</label>
						{{ form.genre }}
						</br>
						</br>


						<button class='btn btn-match btn-lg' type='submit'><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Project</button>

						</br>

					</form>


				</div><!-- Getfeedback-Content End -->

		 	</div><!-- Panel-Body End -->
		  

		</div><!-- Panel End -->


	</div><!-- Col End -->


</div><!-- Row End -->



{% endblock %}